<button class="btn btn-primary" (click)="hanldeAddServer()" [disabled]="!allowNewServer">Add server</button>

<p [innerText]="allowNewServer"></p> <!-- 输出true, innerText修改html中的文本 -->

<!-- 指令 -->
<p class="mt-4" [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: serverStatus ==='online'}">{{ serverNum}}
    servers works is {{ getServerStatus() }}!</p>

<!-- 事件绑定 -->
<input type="text" (input)="onUpdateServerName($event)">

<!-- ngif -->
<p *ngIf="isShow; else noShow">hello there</p>
<ng-template #noShow>
    <!-- mark places in the DOM -->
    <p>hello here</p>
</ng-template>

<!-- ngfor -->

<p *ngFor="let item of servers; let i = index">{{ item}}{{ i}}</p>